<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">Customer</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a routerLink="/customer/form" class="btn btn-sm btn-primary">
      Add new
    </a>
  </div>
</div>

<div class="table-responsive">
  <table class="customer-list table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">CPF</th>
        <th scope="col">Phone</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Car</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList">
        <td>
          <span title="{{ customer.name }}">
            {{ customer.name | truncate: [20] }}
          </span>
        </td>
        <td>{{ customer.cpf | cpf }}</td>
        <td>{{ customer.phone | phone }}</td>
        <td>{{ customer.birthday | date: "dd/MM/yyyy" }}</td>
        <td>
          <span title="{{ customer.address }}">
            {{ customer.address | truncate: [10] }}
          </span>
        </td>
        <td>
          <span title="{{ customer.car.name }}">
            {{ customer.car.name | truncate: [10] }}
          </span>
        </td>
        <td>
          <a
            class="btn btn-sm"
            routerLink="/customer/form/{{ customer.id }}"
            title="Edit customer"
          >
            <fa-icon [icon]="faPen"></fa-icon>
          </a>
          <button
            class="btn btn-sm"
            (click)="showDialog(customer.id)"
            title="Remove customer"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
