<p>List Page</p>

<a class="" routerLink="/customer/form">
  Add
</a>
<br />

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>CPF</th>
      <th>Phone</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Car</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let customer of customerList">
    <td>{{ customer.name }}</td>
    <td>{{ customer.cpf | cpf }}</td>
    <td>{{ customer.phone | phone }}</td>
    <td>{{ customer.birthday | date: "dd/MM/yyyy" }}</td>
    <td>
      <span title="{{ customer.address }}">
        {{ customer.address | truncate: [20] }}
      </span>
    </td>
    <td>
      <span title="{{ customer.car.modelName }}">
        {{ customer.car.modelName | truncate: [20] }}
      </span>
    </td>
    <td>
      <a class="" routerLink="/customer/form/{{ customer.id }}">
        Edit
      </a>
      <button
        class="btn btn-primary pull-right"
        (click)="showDialog(customer.id)"
      >
        Show Dialog
      </button>
    </td>
  </tr>
</table>
